<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<title>{{page.title}}</title>
  	<link rel="alternate" type="application/atom+xml" title="Puppet Labs Documentation Updates" href="https://github.com/puppetlabs/puppet-docs/commits/master.atom">
    <link rel="alternate" type="application/atom+xml" title="Puppet Labs Blog Feed" href="http://puppetlabs.com/feed/atom/">
    <link rel='index' title='Puppet Labs Documentation' href='http://docs.puppetlabs.com' />
    <link rel='icon' href='/favicon.ico' />
    <meta name="description" content="Welcome to the Puppet Labs Documentation Site: Curated documentation for Puppet and Puppet Enterprise">

<!-- Google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1537572-5']);
  _gaq.push(['_setDomainName', 'puppetlabs.com']);
  _gaq.push(['_addIgnoredRef', 'puppetlabs.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
</script>
<!-- End Google analytics -->


    <!-- FIXME: absolute paths -->

    <script type='text/javascript' src='/files/javascripts/html5.js'></script>
    <script type='text/javascript' src='/files/javascripts/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/files/javascripts/drop_down.js'></script>
    <script type="text/javascript" src="http://puppetlabs.com/sites/all/themes/puppetlabs/js/leadcapture.js"></script>

    <!-- All in One SEO Pack 1.6.10.1 by Michael Torbert of Semper Fi Web Design[127,146] -->
    <meta name="keywords" content="Puppet, puppet labs, reductive labs, open source, system administrator, ruby, data center, automation, support" />
    <!-- /all in one seo pack -->

    <!-- Give us the option of setting a canonical URL in yaml frontmatter -NF -->
    <link rel="canonical" href="http://docs.puppetlabs.com{% if page.canonical %}{{page.canonical}}{% else %}{{page.url}}{% endif %}" />

    <!-- FIXME: absolute paths -->

    <link rel="stylesheet" type="text/css" href="/files/stylesheets/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/files/stylesheets/syntax.css" media="screen"> <!-- index -->
    <link rel="stylesheet" type="text/css" href="/files/stylesheets/adbanner.css" media="screen">

    <!--[if IE 7]>
	  <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_7.css" media="screen"> <!-- index -->
    <![endif]-->

    <!--[if IE 8]>
	    <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_8.css" media="screen"> <!-- index -->
    <![endif]-->

</head>




<body id="puppetlabsdocs" class="docs">
    <style type="text/css">h1, h2{ visibility : hidden }</style>
    <!--[if IE 8]>
    <style type="text/css">h1, h2{ visibility : visible }</style>
    <![endif]-->



    <header id="site-header">
        <div class="header-wrapper">

            <!-- Puppet navigation bar //-->
            <div class="morebar">
                <ul>
                    <li class="icons-tools top">
                        <a href="http://forge.puppetlabs.com">
                            <img src="images/svg/icon-tools.svg">
                            Forge
                        </a>
                    </li>
                    <li class="icons-ticket top">
                        <a href="http://forge.puppetlabs.com">
                            <img src="images/svg/icon-book.svg">
                            Docs
                        </a>
                    </li>
                    <li class="icons-book bottom">
                        <a href="http://forge.puppetlabs.com">
                            <img src="images/svg/icon-ticket.svg">
                            Tickets
                        </a>
                    </li>
                    <li class="icons-graduation top">
                        <a href="http://forge.puppetlabs.com">
                            <img src="images/svg/icon-graduation-cap.svg">
                            Learn
                        </a>
                    </li>
                    <li class="icons-users top">
                        <a href="http://forge.puppetlabs.com">
                            <img src="images/svg/icon-users.svg">
                            Community
                        </a>
                    </li>
                    <li class="icons-help-circled bottom">
                        <a href="http://forge.puppetlabs.com">
                            <img src="images/svg/icon-help-circled.svg">
                            Help
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Local navigation bar //-->
            <div class="navbar">
                <ul>
                    <li class="logo navbar-section">
                        <a id="site-logo" href="/">
                            <span class="logo-title">Puppetlabs</span>
                        </a>
                    </li>
                    <li class="title navbar-section">
                        Documentation
                    </li>
                    <li class="search navbar-section">
                        <form method="post" action="/">
                            <div class="container-inline">
                                <h2 class="element-invisible">Search form</h2>
                                <div class="form-item">
                                    <label class="element-invisible" for="doc-site-search">Search </label>
                                    <input id="doc-site-search" class="form-text" type="text" maxlength="128" name="doc-site-search" title="Enter the terms you wish to search for." placeholder="search docs">
                                </div>
                                <div class="form-actions">
                                    <input id="doc-site-submit" class="form-submit" type="submit" value="Search">
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </header>



      <section id="content">
        <div class="site-width">
          <div class="primary-secondary-content">
            <div class="primary-content">
              <h1>{% if page.subtitle %}{{page.subtitle}}{% else %}{{page.title}}{% endif %}</h1>
              {% unless page.toc == 'false' or page.toc == false %}<nav class="in-page">{{ content | toc }}</nav>{% endunless %}
              {{ content }}
              <blockquote><p style="font-size: 1.3em; text-align: center;"><a href="#content">↑ Back to top</a></p></blockquote>
            </div>
            <nav class="main">
                  <div id="subCol">

                      <h3>DOCS NAV</h3>
                      {% include quick_nav.html %}

                      <!--
                      <ul id="doc-navigation">
                        <li class="with-submenu">
                          <a href="#">
                            <span>Docs Quick Nav</span>
                            <span class="drop-down-trigger"></span>
                          </a>
                           {% include quick_nav.html %}
                        </li>
                      </ul>
                      /-->

                      {% include promotions.html %}

                      {% recent_commits %}
                  </div>
            </nav>
          </div>
        </div>
      </section>

    <footer id="footer">
        <div class="footer-wrapper">
            <div class="footer-col footer-col-left">
                <ul>
                    <h4>Resources</h4>
                    <li>
                        <a href="/download-puppet-enterprise">Free Download</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/security">Security</a>
                    </li>
                    <li>
                        <a href="/sitemap">Site Map</a>
                    </li>
                    <li>
                        <a href="http://feeds.feedburner.com/PuppetLabs">RSS</a>
                    </li>
                </ul>
                <ul>
                    <h4>Support</h4>
                    <li>
                        <a href="/services/customer-support">Customer Support</a>
                    </li>
                    <li>
                        <a href="http://tickets.puppetlabs.com">Bug Tracket</a>
                    </li>
                    <li>
                        <a href="http://ask.puppetlabs.com">Puppet Ask</a>
                    </li>
                    <li>
                        <a href="http://groups.google.com/group/puppet-users?pli=1">Puppet Users</a>
                    </li>
                    <li>
                        <a href="https://github.com/puppetlabs">GitHUb</a>
                    </li>
                </ul>
                <ul>
                    <h4>Company</h4>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/about/careers">Careers</a>
                    </li>
                    <li>
                        <a href="/licensing">Licensing</a>
                    </li>
                    <li>
                        <a href="/privacy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/terms">Terms of Use</a>
                    </li>
                </ul>
                <ul>
                    <h4>Connect</h4>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/puppetlabs">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/puppetlabs">Facebook</a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/company/621389">LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/112682055028218091774">Google+</a>
                    </li>
                    <li>
                        <a href="http://webchat.freenode.net/?channels=puppet">IRC</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col footer-col-right">
                <!--
                <div class="puppet-blocks puppet-blocks-mailing-list-signup">
                    <span class="puppet-blocks-mkto-pe-download-text before-text"> Get Puppet Labs News </span>
                    <form id="puppet-blocks-mailing-list-signup" class="1peRegForm formNotEmpty" name="mktForm_1047_footer" action="http://app-h.marketo.com/index.php/leadCapture/save" method="post">
                    </form>
                    <script src="http://puppetlabs.com/sites/default/files/mktFormSupport.js" type="text/javascript"></script>
                </div>
                //-->
                <h4>Get Puppet Labs News</h4>
                <div class="inline-container">
                    <div id="mailing-list">
                        <form>
                            <div id="mailing-list-signup">
                                <input id="mailing-list-signup-input" type="text" class="form-item" placeholder="sign up for mailing list">
                            </div>
                            <div id="mailing-list-submit">
                                <input id="mailing-list-submit-input" type="submit" value="Sign Up">
                            </div>
                        </form>
                    </div>
                </div>
                <p>
                    © 2014
                    <a href="/">Puppet Labs</a>
                    <br>
                    <a class="tel" href="tel:877-575-9775">877-575-9775</a>
                </p>
            </div>
        </div>
    </footer>

  	<style type="text/css">h1, h2, .btn { visibility : visible; }</style>

<!-- BEGIN: MARKETO TRACKING -->
<!-- Per Alanna, this must be directly before the closing body tag. -->
    <script src="http://munchkin.marketo.net/munchkin.js" type="text/javascript"></script> <script>mktoMunchkin("307-QLA-991");</script>
 <!-- END: MARKETO TRACKING -->
	</body>
</html>
