                <ul>
                    <li><a href="/">Documentation home</a></li>
                    <li><a href="/references/stable/type.html">The Resource Type Reference</a></li>
                    <li><a href="/pe/latest/">Puppet Enterprise User's Guide (latest)</a></li>
                    <li><a href="/pe/latest/quick_start.html">Quick Start Guide</a></li>
                    <li><a href="/">Puppet in General (PE &amp; Open Source)</a></li>
                    <li><a href="/puppet/latest/reference">Puppet Reference Manual (latest)</a></li>
                    <li><a href="/learning/">Learning Puppet</a></li>
                    <li><a href="/references/glossary.html">Glossary of Puppet Terms</a></li>
                    <li><a href="/guides/install_puppet/p">Open Source Puppet</a></li>
                    <li><a href="/guides/install_puppet/pre_install.html">Installing</a></li>
                    <li><a href="/guides/install_puppet/upgrading.html">Upgrading</a></li>
                    <li><a href="/facter/latest/">Facter</a></li>
                    <li><a href="/facter/latest/core_facts.html">Core Facts Reference</a></li>
                    <li><a href="/facter/latest/fact_overview.html">Writing Custom Facts</a></li>
                    <li><a href="/puppetdb/latest">PuppetDB</a></li>
                    <li><a href="/puppetdb/latest">PuppetDB Manual</a></li>
                    <li><a href="/mcollective>"MCollective</a></li>
                    <li><a href="/mcollective/index.html">All MCollective Docs</a></li>
                    <li><a href="/mcollective/reference/index.html">References</a></li>
                    <li><a href="/mcollective/simplerpc/index.html">Writing Plugins</a></li>
                </ul>
